<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/new">Add Products</a></li>
        <li><a routerLink="/edit">Edit Products</a></li>
        <li><a routerLink="/delete">Delete Products</a></li>
        <li><a routerLink="/">View Products</a></li>
        <li><a routerLink="/about">About us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/data">Service</a></li>
        
        


      </ul>
    </div>
  </nav>
        