<nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/home/new">Add Products</a></li>
        <li><a routerLink="/home/edit">Edit Products</a></li>
        <li><a routerLink="/home/delete">Delete Products</a></li>
        <li><a routerLink="/home/view">View Products</a></li>
        <li><a [routerLink]="['/home/about','Abc pvt. ltd','Cochin']">About us</a></li>
        <li><a routerLink="/home/contact">Contact Us</a></li>
        <li><a routerLink="/home/data">Service</a></li>
        
        


      </ul>
    </div>
  </nav>
        